<h1>Users</h1>

<table>
	<thead>
		<tr>
			<th>image</th><th>name</th>
		</tr>
	</thead>

  <% @users.each do |user| %>
    <tr>
     <div>
      <td><%= user.image %></td>
     </div>
     <div>
    	<td><%= user.name %></td>
     </div>
      <span>
      <td><%=link_to "Show" ,users_path(@user.id) %></td>
      </span>
    </tr>
  <% end %>
</table>